:root{
    --black: #000000;
    --red: #e90303;
}



body{
    background-color: var(--red);



    color: var(--black);
}
    img{
        width: 30%;
    }
    
img{
    width: 30%;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img-intro{
    width: 20%
}

.intro{
    display: flex;
}