:root{
    --black: #000000;
    --red: #e90303;
}



body{
    background-color: var(--red);

    img{
        width: 800px;
    }
    

    color: var(--black);
}

img{
    width: 20%;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;

}